[Desktop Entry]
Type=Application
Name=AgusEmu
Comment=Run Windows apps and games via GE-Proton
Exec=agusemu
Icon=agusemu
Categories=Game;Utility;
Terminal=false
